* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #35155D;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Nav Styling */

nav {
    height: 75px;
    background-color: #512B81;
}

ul {
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

/* Link Styling */

a {
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: slateblue;
}

/* Main Styling */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 150px);
}

/* Quiz Styling */

#username-input,
#quiz-display,
#end-display {
    display: none;
}

/* Score Styling */

#score-list {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Styling */
footer {
    background-color: #512B81;
    text-align: center;
    line-height: 75px;
}